@tailwind base;
@tailwind components;
@tailwind utilities;



.box {
  width: 150px;
  height: 150px;
  border-radius: 1em;
  background-color: #f9f07e;
  margin-left: auto;
  margin-right: auto;
}


@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}


body{
  @apply pageHead 
}

main{
  @apply glass
}
.pageHead{
background: url("/images/bg.png");
background-size:     cover;



}

